---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120

# Custom wrapping & alignment overrides
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: false
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^<windows\.h>'
    Priority: 1
  - Regex: '^<delayimp\.h>'
    Priority: 2
  - Regex: '^<.*'
    Priority: 3
  - Regex: '.*'
    Priority: 4
...
