---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120

# Custom wrapping & alignment overrides
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AllowShortFunctionsOnASingleLine: Inline
AllowAllParametersOfDeclarationOnNextLine: false
IncludeBlocks: Regroup
PointerAlignment: Left
ReferenceAlignment: Left
...
